VITE_API_URL=http://127.0.0.1:8000

CHATKIT_API_BASE=https://api.openai.com
VITE_CHATKIT_API_BASE=https://api.openai.com

CHATKIT_WORKFLOW_ID=
VITE_CHATKIT_WORKFLOW_ID=
NEXT_PUBLIC_CHATKIT_WORKFLOW_ID=

OPENAI_API_KEY=
